option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: intellodge/wsgi.py

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "intellodge.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    AWS_REGION: "us-east-1"
    AWS_S3_BUCKET: "intellodge-eb"

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
